@font-face {
  font-family: 'ArmyFont';
  src: url('army.otf') format('opentype');
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("backCamo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'ArmyFont', sans-serif;
}

.left-box, .middle-box, .right-box, .nav-bar a, .left-box a, .right-box a {
  font-family: 'ArmyFont', sans-serif;
}
